/* styles.css */

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
    position: relative;
}

header h1 {
    font-size: 3rem;
    margin: 0.5rem;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 3rem;
    padding-top: 0;
    padding-bottom: 0;
    flex: 1;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

img.profile {
    float: left;
    margin: 0 1rem 1rem 0;
    width: 150px;
    height: 193px;
    border-radius: 0%;
}

.menu-icon {
    display: none;
}

/* Mobile styles */
@media (max-width: 768px) {
    nav ul {
        display: none;
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
    }

    nav ul.active {
        display: flex;
    }

    nav ul li {
        margin: 0;
        text-align: center;
        padding: 1rem 0;
    }

    .menu-icon {
        display: block;
        cursor: pointer;
        font-size: 1.5rem;
        position: absolute;
        top: 1rem;
        right: 1rem;
    }
}

/* Footer styles */
footer .social-icons a {
    color: #fff;
    margin: 0 0.5rem;
    font-size: 1.5rem;
    text-decoration: none;
}

footer .social-icons a:hover {
    color: #ddd;
}

/* Ensure icons within links inherit the footer color */
footer .social-icons a i {
    color: inherit;
}

.profile-figure {
    float: left;
    margin: 0 1rem 1rem 0;
    width: 150px;
    height: 220px;
    border-radius: 0%;
}

.profile-figure img {
    float: left;
    width: 150px;
    height: 193px;
    border-radius: 0%;
}

.profile-figure figcaption {
    text-align: center;
    font-size: 14px;
    color: #555;
    margin-top: 5px;
}

/* Heading styles */
h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.17em;
}

/* Remove underline and set color for header links */
header a {
    text-decoration: none;
    color: inherit; /* Inherit the color from the parent element */
}

/* Optionally, you can set a specific color */
header a {
    text-decoration: none;
    color: #fff; /* Replace with your desired color */
}